body {
  box-sizing: border-box;
}
h1 {
  margin-bottom: 30px;
}
input[type="text"] {
  width: 200px;
  float: left;
}
.narrow-button {
  float: left;
  margin-left: 10px;
}
.loader {
  display: none;
  margin-left: 5px;
  font-size: 10px;
  float: left;
  border-top: 1.1em solid rgba(147, 147, 147, 0.2);
  border-right: 1.1em solid rgba(147, 147, 147, 0.2);
  border-bottom: 1.1em solid rgba(147, 147, 147, 0.2);
  border-left: 1.1em solid #676767;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
.loader,
.loader:after {
  border-radius: 50%;
  width: 3em;
  height: 3em;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
section.menu-list-container {
  clear: left;
  position:relative;
}
div.description {
  float:right;
  position: absolute;
  top: 1em;
  right: 1em;
  border: 3px solid #369;
  width: 40%;
  padding: 0.5em;
  margin: 0.5em;
  background-color: white;
  z-index: 1;
}
div.my-loader {
  position: absolute;
  width: 100;
  top:2em;
  left: 2em;
}

h1 {
  clear: right;
}

li:before {
  padding: 0;
  margin: 0;
  position: absolute;
}

li p {
	line-height: 1em;
	font-size: .7em;
}
section.item-short-name{
  padding-left: 2em;
}