<!doctype html>
<html lang="en">
  <head>
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
      .message { font-size: 1.3em; font-weight: bold; }
    </style>
  </head>
  <script src="js/angular.min.js"></script>
  <script src="js/app.min.js"></script>
<body ng-app='feedToMuch'>
   <div ng-controller='feedEnough' class="container">
     <h1>Lunch Checker</h1>
         <div class="form-group">
             <input id="lunch-menu" type="text" ng-model="foodList"
                    placeholder="list comma separated dishes you usually have for lunch"
                    class="form-control">
         </div>
         <div class="form-group">
             <button class="btn btn-default" ng-click="solveFoodList();">Check If Too Much</button>
         </div>
         <div class="form-group message {{dishResult}}">{{solveFoodList();emptyDishWarning();}}</div>
         <div class="form-group message {{lunchResult}}">{{resultToWord();}}{{}}
         </div>
   </div>

</body>
</html>
