<!doctype html>
<html lang="en">
  <head>
    <title>Narrow Down Your Menu Choice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">
    <script src="js/angular.min.js"></script>
    <script src="js/app.js"></script>
  </head>
<body ng-app="NarrowItDownApp">
   <div ng-controller="NarrowItDownController as menu" class="container">
    <h1>Narrow Down Your Chinese Menu Choice</h1>
    <div class="form-group">
      <input type="text" placeholder="search term" class="form-control" ng-model="menu.searchString">
    </div>
    <div class="form-group narrow-button">
      <button ng-click='menu.getItems(menu.searchString);' class="btn btn-primary">Narrow It Down For Me!</button>
    </div>
    <items-loader-indicator ng-hide='menu.items.length'></items-loader-indicator>
     <section class="menu-list-container">
      <div ng-show='menu.ci.id' class="description panel panel-default">
      <div class="panel-heading"><h3 class="panel-title">{{menu.ci.id}} : {{menu.ci.short_name}} — {{menu.ci.name}}</h3></div>
        <div class="panel-body">{{menu.ci.description}}</div>
      </div>
           <found-items items="menu.items" title='found {{menu.items.length}} items' on-remove="menu.removeItem(index)" on-show="menu.showDescription(index)"></found-items>
      </section>
    <section>
      <div ng-hide='menu.items.length'> ... found nothing ...</div>
    </section>
  </div>
</body>
</html>